@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/functions' as *;

.textLink {
  @include link-base;
  & svg {
    // position: absolute;
    // top: 0;
    // right: 0;
    height: #{px-to-rem(20)};
    width: #{px-to-rem(20)};
    fill: var(--link);
    stroke: var(--link);
    transform: rotate(45deg);
  }
}

.noUnderline {
  @include link-no-underline;
}