:root {
  --dark-100: var(--neutral-950);
  --dark-200: 54 3 10; // #1A1918

  --light-100: var(--neutral-50);
  --light-200: var(--neutral-100);

  // --aqua-100: 180 35% 95%; // #d2f7f7
  // --aqua-200: 180 40% 85%; // #aeeeee
  // --aqua-300: 180 50% 75%; // #87e5e5
  // --aqua-400: 180 75% 65%; // #1cc4c4
  // --aqua-500: 180 70% 50%; // #18b0b0
  // --aqua-600: 180 65% 45%; // #149c9c
  // --aqua-700: 180 60% 35%; // #0f6f6f
  // --aqua-800: 180 55% 20%; // #0c5c5c
  // --aqua-900: 180 50% 15%; // #094949

  // --blue-100: 245 40% 95%; // #d6d6f2
  // --blue-200: 245 45% 85%; // #b2b2e6
  // --blue-300: 245 55% 75%; // #8d8dd9
  // --blue-400: 245 75% 53%; // #291bc0
  // --blue-500: 245 70% 48%; // #2419a9
  // --blue-600: 245 65% 33%; // #1f1591
  // --blue-700: 245 60% 28%; // #1a127a
  // --blue-800: 245 55% 22%; // #141062
  // --blue-900: 245 50% 16%; // #0f0c49

  // --red-900: 353 12% 14%; // #292021
  // --red-800: 354 28% 28%; // #5C3438
  // --red-700: 354 32% 38%; // #804248
  // --red-600: 354 44% 44%; // #A13F48
  // --red-500: 350 78% 54%; // #E52E4D
  // --red-400: 350 79% 61%; // #EB4D68
  // --red-300: 352 75% 68%; // #EB7081
  // --red-200: 352 66% 76%; // #EB9BA5
  // --red-100: 352 68% 96%; // #FCEEF0
}
