:root {
    --bg: hsl(var(--light-100));
    --bg-secondary: hsl(var(--light-200));
    --bg-tertiary: hsl(var(--blue-100));
    --bg-accent: hsl(var(--aqua-100));

    --bg-button: hsl(var(--blue-300));
    --bg-button-hover: hsl(var(--aqua-100));

    --bg-warning: hsl(var(--red-300));

    --bg-button-secondary: hsl(var(--aqua-300));
    --bg-button-secondary-hover: hsl(var(--blue-100));

    --bg-progress-bar: hsl(var(--blue-500));
}

[data-theme='dark'] {
    --bg: hsl(var(--dark-100));
    --bg-secondary: hsl(var(--dark-200));
    --bg-tertiary: hsl(var(--blue-900));
    --bg-accent: hsl(var(--aqua-900));

    --bg-button: hsl(var(--blue-700));
    --bg-button-hover: hsl(var(--aqua-900));

    --bg-button-secondary: hsl(var(--aqua-800));
    --bg-button-secondary-hover: hsl(var(--blue-900));

    --bg-warning: hsl(var(--red-700));
}