:root {
  --bg: var(--light-100);
  --bg-secondary: var(--light-200);
  --bg-tertiary: var(--blue-100);
  --bg-accent: var(--aqua-100);

  --bg-button: var(--sky-300);
  --bg-button-hover: var(--blue-50);

  --bg-btn-alt: var(--blue-700);

  --bg-warning: var(--red-300);
  --bg-danger: var(--red-700);

  --bg-button-secondary: var(--emerald-300);
  --bg-button-secondary-hover: var(--blue-100);

  --bg-progress-bar: var(--blue-500);

  --bg-input: var(--blue-300);
  --bg-input-hover: var(--blue-100);
  --bg-input-active: var(--aqua-100);
}

[data-theme='dark'] {
  --bg: var(--dark-100);
  --bg-secondary: var(--dark-200);
  --bg-tertiary: var(--emerald-950);
  --bg-accent: var(--aqua-900);

  --bg-button: var(--emerald-800);
  --bg-button-hover: var(--emerald-950);

  --bg-btn-alt: var(--blue-300);

  --bg-button-secondary: var(--emerald-800);
  --bg-button-secondary-hover: var(--blue-900);

  --bg-warning: var(--red-700);

  --bg-input: var(--blue-700);
  --bg-input-hover: var(--blue-900);
  --bg-input-active: var(--aqua-900);
}
