@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/functions' as *;

.allPostsSection {
    @include flex-center(column, var(--element-gap-lg));
    
  &__grid {
    margin-bottom: #{px-to-em(100)};
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
    gap: var(--element-gap-md);

    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
    }

    @include breakpoint(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.pagination {
  @include flex-center(column, var(--element-gap-lg));
  margin-top: var(--section-heading-mb);

  @include breakpoint(md) {
    flex-direction: row;
  }

  &__button {
    padding: var(--button-padding-sm);
    border: var(--border-3);
    border-radius: var(--br-700);
    background-color: var(--bg-button);
    font-size: var(--fs-200);
    font-weight: var(--fw-bold);
    display: grid;
    grid-template-columns: #{px-to-ch(44)} 1fr;
    place-items: center;
    transition: var(--transition-main);

    &:focus-visible {
      @include focused;
    }



    &:hover,
    &:focus-visible {
      background-color: var(--bg-button-hover);
      box-shadow: var(--shadow-600);
      transform: scale(1.05);
    }

    & svg {
      fill: var(--text);
      stroke: var(--text);
    }

    &__next {
        grid-template-columns: 1fr #{px-to-ch(44)};
    }

    &__active {
        background-color: var(--bg-secondary);
        box-shadow: var(--shadow-100);
    }
  }
}
