@mixin blockquote {
    padding: var(--container-padding-lg);
    background-color: var(--bg-secondary);
    border: var(--border-6);
    border-radius: var(--br-400);
    line-height: var(--lh-600);

}