@mixin heading(
  $margin,
  $weight,
  $size,
  $line-height,
  $text-transform: capitalize
) {
  margin: $margin;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  text-transform: $text-transform;
  max-width: fit-content;
}

@mixin heading-style($level) {
  @if $level == 1 {
    @include heading(
      var(--margin-center),
      var(--fw-black),
      var(--fs-900),
      var(--lh-900),
    );
    min-width: 100%;
    text-align: center;
  }

  @if $level == 2 {
    @include heading(
      var(--section-header-margin),
      var(--fw-800),
      var(--fs-800),
      var(--lh-10)
    );

    max-width: fit-content;
    color: var(--color-text-secondary);
    text-align: center;
  }

  @if $level == 3 {
    @include heading(
      var(--sub-section-header-margin),
      var(--fw-700),
      var(--fs-700),
      var(--lh-2)
    );
  }

  @if $level == 4 {
    @include heading(
      var(--container-header-margin),
      var(--fw-semibold),
      var(--fs-600),
      var(--lh-600)
    );
  }

  @if $level == 5 {
    @include heading(
      var(--container-medium-margin),
      var(--fw-600),
      var(--fs-500),
      var(--lh-3)
    );
  }

  @if $level == 6 {
    @include heading(
      var(--container-small-margin),
      var(--fw-500),
      var(--fs-400),
      var(--lh-2)
    );
  }
}
