@use './breakpoint' as *;

@mixin post-card-large {
  .large {
    @include breakpoint(lg) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      align-items: start;
      grid-template-areas:
      "content image"
      "desc image"
      "meta image"
    }
  }

  .large .postCard {
    align-items: stretch;
    &__image {
      @include breakpoint(lg) {
        height: 100%;
        grid-area: image;
        margin: var(--margin-center);
        place-self: center start;
        object-fit: contain;
      }
    }

    &__content {
      @include breakpoint(lg) {
        grid-area: content;
        text-align: left;
        place-self: center;
     

      }
    }

    &__desc {
      @include breakpoint(lg) {
        grid-area: desc;
        padding: var(--container-padding-lg);
        place-self: flex-end;
        text-align: left;
      }
    }

    &__tags,
    &__category {
      @include breakpoint(lg) {
        grid-area: meta;
      }
    }
  }
}
