@use './breakpoint' as *;
@use './containers' as *;
@use '../functions/convert-px' as *;

@mixin post-card-small {
  .small {
    @include breakpoint(lg) {
      min-height: #{px-to-ch(300)};
      max-width: #{px-to-ch(250)};
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      align-items: stretch;
      padding: var(--container-padding-sm);
      place-content: center;
    }
  }

  .small .postCard {
    &__image {
      @include breakpoint(lg) {
        border-radius: var(--br-300);
        max-height: #{px-to-ch(300)};
      }
    }

    &__title {
      font-size: var(--fs-300);
    }

   

    &__content {
      padding: var(--container-padding-sm);
      text-align: center;
    }

    &__category {
      // display: none;
    }

    &__desc {
      display: none;
    }
  }
}
