@use './breakpoint' as *;
@use './containers' as *;
@use '../functions/convert-px' as *;

@mixin post-card-small {
  .small {
    @include breakpoint(lg) {
      @include container-wrapper-400;
      height: 100%;
      max-width: #{px-to-ch(250)};
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      padding: 0;
    }
  }

  .small .postCard {
    &__image {
      @include breakpoint(lg) {
        border-radius: var(--br-300);
        max-height: #{px-to-ch(300)};
      }
    }

    &__title {
      font-size: var(--fs-500);
    }

    &__tags {
      display: none;
    }

    &__content {
      padding: var(--container-padding-sm);
      text-align: left;
    }

    &__category {
      display: none;
    }

    &__desc {
      display: none;
    }
  }
}
