@use './breakpoint' as *;
@use './containers' as *;
@use '../functions/convert-px' as *;

@mixin post-card-medium {
  .medium {
    @include breakpoint(lg) {
      // @include container-wrapper-400;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 0.75fr 0.25fr;
      padding-bottom: var(--container-padding-lg);
    }
  }

  .medium .postCard {
    &__image {
      @include breakpoint(lg) {
        grid-column: 1 / 6;
        grid-row: 1;
        border-radius: var(--br-300);
        max-height: #{px-to-ch(300)};
      }
    }

    &__tags,
    &__category {
      grid-column: 6 / 12;
      grid-row: 2;
      text-align: left;
      padding: var(--container-padding-lg);
      place-self: start;
    }

    &__content {
      @include breakpoint(lg) {
        grid-column: 6 / 12;
        grid-row: 1;
        padding: var(--container-padding-lg);
        text-align: left;
      }
    }

    &__desc {
      @include breakpoint(lg) {
        grid-column: 1 / 6;
        grid-row: 2;
        align-self: start;
        text-align: left;
      }
    }
  }
}
