@use './breakpoint' as *;

@mixin post-card-large {
  .large {
    @include breakpoint(lg) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 0.25fr;
      align-items: flex-start;
    }
  }

  .large > .postCard {
    &__image {
      @include breakpoint(lg) {
        grid-column: 2;
        grid-row: 1;
        margin: var(--margin-center);
      }
    }

    &__content {
      @include breakpoint(lg) {
        grid-column: 1;
        grid-row: 1;
        padding: var(--container-padding-lg);
        text-align: left;
        place-self: center;
      }
    }

    &__desc {
      @include breakpoint(lg) {
        grid-column: 1;
        grid-row: 2;
        padding: var(--container-padding-lg);
        place-self: flex-end;
        text-align: left;
      }
    }

    &__tags,
    &__category {
      @include breakpoint(lg) {
        grid-column: 2;
        grid-row: 2;
        place-self: center;
      }
    }
  }
}
