@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Set the body to use Open Sans (body) by default */
  body {
    @apply font-body;
    background-color: var(--bg1);
  }

  /* Make all headers use Playfair Display (header) */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-header;
  }

  /* Global link styles */
  a {
    font-family: var(--font-open-sans); /* ensure links use Open Sans */
    transition: color 0.2s;
  }
}

/* Light mode variables (default) */
:root {
  --bg1: #fcfcfc;
  --bg2: #ebedf5;
  --text1: #0a0a0a;
  --text2: #141414;
  --primary: #100e7d;
  --secondary: #6e0c52;
  --accent: #74b59c;
}

/* Dark mode variables */
.dark {
  --bg1: #141414;
  --bg2: #1a1a1a;
  --text1: #f8f7fa;
  --text2: #e1dfeb;
  --primary: #72aff7;
  --secondary: #cb90f0;
  --accent: #90f0c7;
}

.editorCanvas h1 {
  margin: 1rem auto;
  font-size: 2.75rem;
  line-height: 2rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.editorCanvas h2 {
  font-size: 2.5rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.editorCanvas h3 {
  font-size: 2rem;
  line-height: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

.editorCanvas h4 {
  font-size: 1.5rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: capitalize;
}

.editorCanvas h5 {
  font-size: 1.25rem;
  line-height: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  @apply font-body;
}

.editorCanvas h6 {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  @apply font-body;
}

.editorCanvas p {
  margin: 1rem 0;
  line-height: 2rem;
}

.editorCanvas ul {
  list-style: disc;
  margin-left: 1.5rem;
}

.editorCanvas ol {
  list-style: decimal;
  margin-left: 1.5rem;
}

.editorCanvas blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  color: var(--text2);
  font-style: italic;
}

.editorCanvas a {
  color: var(--primary);
  text-decoration: underline;
  transition: color 0.2s;
}

.editorCanvas a:hover {
  color: var(--secondary);
}

.editorCanvas .footnote {
  @apply text-sm font-semibold text-secondary;
}


.articleContent h3 {
  @apply my-16 text-2xl px-2 py-6 font-bold leading-6 uppercase text-center border-b border-primary ;
}

.articleContent h4 {
  @apply w-full md:w-3/4 lg:w-1/2 my-12 mx-auto text-xl py-4 px-6 font-bold leading-5 capitalize text-center border-b border-secondary;
}

.articleContent h5 {
  @apply w-1/2 md:w-1/4 my-8 text-lg py-4 font-bold leading-4 capitalize border-b border-primary;
}

.articleContent h6 {
  @apply my-4 text-base font-bold leading-4 capitalize;
}

.articleContent p {
  margin-bottom: 1.25rem;
  line-height: 1.9;
  /* etc. */
}

.articleContent ul {
  list-style: disc;
  margin-left: 1.5rem;
}

.articleContent ol {
  list-style: decimal;
  margin-left: 1.5rem;
}

.articleContent blockquote {
  @apply border-l-4 mx-auto border-primary px-4 md:px-6 lg:px-8 italic text-text2;

  color: var(--text2);
}

.articleContent a {
  color: var(--primary);
  text-decoration: underline;
  transition: color 0.2s;
}

.articleContent a:hover,
.articleContent a:focus {
  color: var(--secondary);
}

.articleContent a:hover {
  color: var(--secondary);
}
