@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Set the body to use Open Sans (body) by default */
  body {
    @apply font-body;
    background-color: var(--bg1);
  }
  
  /* Make all headers use Playfair Display (header) */
  h1, h2, h3, h4, h5, h6 {
    @apply font-header;
  }
  
  /* Global link styles */
  a {
    
    font-family: var(--font-open-sans); /* ensure links use Open Sans */
    transition: color 0.2s;
  }
  
  
}

/* Light mode variables (default) */
:root {
  --bg1: #EBEDF5;
  --bg2: #FAFAFA;
  --text1: #0A0A0A;
  --text2: #141414;
  --primary: #100E7D;
  --secondary: #6E0C52;
  --accent: #74B59C;
}

/* Dark mode variables */
.dark {
  --bg1: #141414;
  --bg2: #1A1A1A;
  --text1: #F8F7FA;
  --text2: #E1DFEB;
  --primary: #72AFF7;
  --secondary: #CB90F0;
  --accent: #90F0C7;
}


.editorCanvas h1 {
  margin: 1rem auto;
  font-size: 2.75rem;
  line-height: 2rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.editorCanvas h2 {
  font-size: 2.5rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.editorCanvas h3 {
  font-size: 2rem;
  line-height: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

.editorCanvas h4 {
  font-size: 1.5rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: capitalize;
}

.editorCanvas h5 {
  font-size: 1.25rem;
  line-height: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  @apply font-body;
}

.editorCanvas h6 {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  @apply font-body;

}

.editorCanvas p {
  margin: 1rem 0;
  line-height: 2rem;
}




.editorCanvas ul {
  list-style: disc;
  margin-left: 1.5rem;
}

.editorCanvas ol {
  list-style: decimal;
  margin-left: 1.5rem;
}

.editorCanvas blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  color: var(--text2);
  font-style: italic;
}

.editorCanvas a {
  color: var(--primary);
  text-decoration: underline;
  transition: color 0.2s;
}

.editorCanvas a:hover {
  color: var(--secondary);
}


