@use '@/styles/abstracts/functions' as *;

:root {
    --br-100: #{px-to-rem(1)};
    --br-200: #{px-to-rem(2)};
    --br-300: #{px-to-rem(3)};
    --br-400: #{px-to-rem(4)};
    --br-500: #{px-to-rem(5)};
    --br-600: #{px-to-rem(6)};
    --br-700: #{px-to-rem(7)};
    --br-800: #{px-to-rem(8)};
    --br-900: #{px-to-rem(9)};
    --br-full: #{px-to-rem(9999)};
}