@use '@/styles/abstracts/functions' as *;
@use '@/styles/abstracts/mixins' as *;

:root {
  --margin-center: 0 auto;

  --section-margin: #{px-to-rem(32)} auto;
  --section-margin-inline: #{px-to-rem(24)};

  --section-heading-mb: #{px-to-rem(64)};

  --element-margin-sm: #{px-to-rem(8)};
  --element-margin-md: #{px-to-rem(16)};
  --element-margin-lg: #{px-to-rem(24)};
  --element-margin-xl: #{px-to-rem(36)};

  @include breakpoint(md) {
    --section-margin: #{px-to-rem(64)} auto;
    --section-heading-mb: #{px-to-rem(72)};

    --section-margin-inline: #{px-to-rem(32)};

    --element-margin-sm: #{px-to-rem(12)};
    --element-margin-md: #{px-to-rem(20)};
    --element-margin-lg: #{px-to-rem(32)};
    --element-margin-xl: #{px-to-rem(48)};
  }

  @include breakpoint(lg) {
    --section-margin: #{px-to-rem(96)} auto;
    --section-heading-mb: #{px-to-rem(86)};

    --section-margin-inline: #{px-to-rem(48)};

    --element-margin-sm: #{px-to-rem(16)};
    --element-margin-md: #{px-to-rem(24)};
    --element-margin-lg: #{px-to-rem(40)};
    --element-margin-xl: #{px-to-rem(64)};
  }
}
