@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/functions' as *;

.subscribeContainer {
  max-width: var(--md-container-width);
  margin: #{px-to-rem(48)} auto;
  padding: var(--container-padding-md);
  border: var(--border-4);
  border-radius: var(--br-200);
  background-color: var(--bg-tertiary);
  text-align: center;
  @include flex-center(column, var(--element-gap-md));

  &__form {
    @include flex-column(var(--element-gap-lg));
  }
}

