@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/functions' as *;

.blogPostContent {
  max-width: var(--section-max-width);
  height: 100%;
  margin: var(--center-margin);
  padding: var(--section-padding-y) var(--section-padding-x);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: var(--element-gap-lg);
  place-content: center;

  &__image {
    // 'relative w-full h-96 mb-4'
    position: relative;
    width: 100%;
    height: #{px-to-em(280)};
    aspect-ratio: 16 / 9;
    border: var(--border-6);
    border-radius: var(--br-200);
    box-shadow: var(--shadow-700);

    @include breakpoint(md) {
      height: #{px-to-em(360)};
    }

    @include breakpoint(lg) {
      height: #{px-to-em(480)};
    }

    &__img {
      width: 100%;
      height: 100%;
      object-position: center;
    }
  }
}

.blogPostMeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--element-gap-lg);

  &__category {
    @include flex-center(row, var(--element-gap-sm));
    text-align: center;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--element-gap-md);
  }
}
